<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>No</th>
      <th>ID</th>
      <th>Name</th>
      <th>Img</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="users.length==0">
      <td colspan="4">조회값이 없습니다.</td>
    </tr>    
    <tr *ngFor = "let user of users">
      <td>{{user.uiNo}}</td>
      <td>{{user.uiId}}</td>
      <td>{{user.uiName}}</td>
      <td><img src="http://localhost:88/resources/{{user.uiFilePath}}"></td>
    </tr>
  </tbody>
</table>
</div>

